<aside class="left-sidebar" >
    <div class="scroll-sidebar">
        <div class="user-profile">
            <div class="profile-img"> <img src="assets/images/users/profile.png" alt="user" />
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <div class="profile-text">
                <h5>Minyan</h5>
            </div>
        </div>
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>
                <li><a routerLink="/dashboard">Dashboard </a></li>
                <li><a routerLink="/add-member">Add Member </a></li>
                <!-- <li><a routerLink="/all-member">All Member </a></li> -->
                <li><a routerLink="/active-member">All Member </a></li>
                <!-- <li><a routerLink="/deactive-member">Deactive Member </a></li> -->
                <li><a routerLink="/join-request">Join Request </a></li>
                <li><a routerLink="/sms-text">Sms Text</a></li>

                <li><a routerLink="/meeting-one">First Meeting </a></li>
                <li><a routerLink="/meeting-two">Second Meeting</a></li>
                <li><a routerLink="/meeting-third">Third Meeting</a></li>

                <li><a routerLink="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
</aside>