
 
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Friday Meeting Details</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item">Friday Meeting Details</li>
                    </ol>
                </div>
            </div>
      
            <div class="container-fluid">
                    <div class="card">
   							<div class="card-body">
                                <h4 class="card-title">Friday Meeting Details</h4>
                                <h6 class="card-subtitle">Here You can see the replay of your member</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Phone Number</th>
                                                <th>Replay</th>
                                                <th>Member</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>+918128460193</td>
                                                <td>YES</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>+918128460193</td>
                                                <td>YES</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>+918128460193</td>
                                                <td>YES</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>+918128460193</td>
                                                <td>YES</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>+918128460193</td>
                                                <td>YES</td>
                                                <td>1</td>
                                            </tr>
                                            <tr>
                                                <td>+918128460193</td>
                                                <td>YES</td>
                                                <td>1</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>                  
                    </div>
            	 </div>
  