
 
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Active Member</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item">Active Member</li>
                    </ol>
                </div>
            </div>
      
            <div class="container-fluid">
                    <div class="card">
   <div class="card-body">
   								<a routerLink="/add-member" class="btn waves-effect waves-light btn-success pull-right">Add Member</a>
                                <h4 class="card-title">Member</h4>
                                <h6 class="card-subtitle">all member list</h6>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Profile Picture</th>
                                                <th>Full Name</th>
                                                <th>Email Address</th>
                                                <th>Phone Number</th>
                                                <th>Active</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>
                                                	<div class="user-profile">
                                                		<div class="profile-img">
                                                			<img src="assets/images/users/profile.png"  />
                                                		</div>
                                                	</div>
                                                </td>
                                                <td>Deshmukh</td>
                                                <td>admin@admin.com</td>
                                                <td>+91 8653619479</td>
                                                <td><div class="label label-info">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                	<div class="user-profile">
                                                		<div class="profile-img">
                                                			<img src="assets/images/users/profile.png"  />
                                                		</div>
                                                	</div>
                                                </td>
                                                <td>Deshmukh</td>
                                                <td>admin@admin.com</td>
                                                <td>+91 8693619479</td>
                                                <td><div class="label label-info">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                	<div class="user-profile">
                                                		<div class="profile-img">
                                                			<img src="assets/images/users/profile.png"  />
                                                		</div>
                                                	</div>
                                                </td>
                                                <td>Sanghani</td>
                                                <td>admin@admin.com</td>
                                                <td>+91 8833091236</td>
                                                
                                                <td><div class="label label-info">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>
                                                	<div class="user-profile">
                                                		<div class="profile-img">
                                                			<img src="assets/images/users/profile.png"  />
                                                		</div>
                                                	</div>
                                                </td>
                                                <td>Roshan</td>
                                                <td>admin@admin.com</td>
                                                <td>+91 9274741656</td>
                                                <td><div class="label label-info">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>
                                                	<div class="user-profile">
                                                		<div class="profile-img">
                                                			<img src="assets/images/users/profile.png"  />
                                                		</div>
                                                	</div>
                                                </td>
                                                <td>Joshi</td>
                                                <td>admin@admin.com</td>
                                                <td>+91 8366658482</td>
                     
                                                <td><div class="label label-info">Active</div></td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>
                                                	<div class="user-profile">
                                                		<div class="profile-img">
                                                			<img src="assets/images/users/profile.png"  />
                                                		</div>
                                                	</div>
                                                </td>
                                                <td>Nigam</td>
                                                <td>admin@admin.com</td>
                                                <td>+91 812866193</td>
                                                <td><div class="label label-info">Active</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>                  
                    </div>
            	 </div>
  