
 
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">First Meeting</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item">First Meeting</li>
                    </ol>
                </div>
            </div>
      
            <div class="container-fluid">

                           <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0,0,0,0.4)', 
        backdropBorderRadius: '4px',
        primaryColour: '#ffffff', 
        secondaryColour: '#ffffff', 
        tertiaryColour: '#ffffff' }">
            
        </ngx-loading>

<div class="row">
	<div class="col-sm-6">
		<div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="p-l-20" style="width: 100%">
                                   <h3 class="font-medium">Friday Meeting  <a routerLink="/meeting-one-details" style="float: right" class="label label-info">View More</a>   </h3>
                                    <h6>13 july 2018</h6>
                                    <div class="label label-success status">Success</div>
                                </div>
                            </div>
                            <div class="row m-t-40">
                                <div class="col b-r text-center">
                                    <h2 class="font-light">100</h2>
                                    <h6>Total send message</h6></div>
                                <div class="col b-r text-center">
                                    <h2 class="font-light">60</h2>
                                    <h6>member replay YES</h6></div>
                                <div class="col text-center">
                                    <h2 class="font-light">10</h2>
                                    <h6>member replay NO</h6></div>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                        <div class="card-body">
                            <div class="slimScrollDiv">
                            	<p class="text-center">
                                Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit, sed do eiusmod tempor incididunLorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididuntt
                            	</p>
                       		 </div>
                        </div>
					</div>		
				</div>

				<div class="col-sm-6">
		<div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row">
                                <div class="p-l-20" style="width: 100%">
                                    <h3 class="font-medium">Friday Meeting  <a routerLink="/meeting-one-details" style="float: right" class="label label-info">View More</a>   </h3>
                                    <h6>13 july 2018</h6>
                                    <div class="label label-danger status">Fail</div>
                                </div>
                            </div>
                            <div class="row m-t-40">
                                <div class="col b-r text-center">
                                    <h2 class="font-light">100</h2>
                                    <h6>Total send message</h6></div>
                                <div class="col b-r text-center">
                                    <h2 class="font-light">10</h2>
                                    <h6>member replay YES</h6></div>
                                <div class="col text-center">
                                    <h2 class="font-light">60 </h2>
                                    <h6>member replay NO</h6></div>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                        <div class="card-body">
                            <div class="slimScrollDiv">
                            	<p class="text-center">
                                Lorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididunt adipisicing elit, sed do eiusmod tempor incididunLorem ipsum dolor sit ametetur adipisicing elit, sed do eiusmod tempor incididuntt
                            	</p>
                       		 </div>
                        </div>
					</div>		
				</div>

			</div>        
      	 </div>
  